:root{
    --fondo-oscuro: #000;
    --fondo-claro: #fff;
    --texto: #000;
    --texto-rojo: #b81c1d;
    --header: #AE2029;
    --hover: #440909;
    --texto-gris-900: #334155;
    --gris-900: #101727;
    --gris-50: #F7F8F9;
}
